nav.navbar a.navbar-brand strong{
 font-size: 18px;
}

footer.footer {
    background: #fff;
    color: #fff;
    padding-top: 4rem;
}

.navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 15px !important;
}
