/* =======================================================
       Contact Page
   ======================================================= */

#map {
    height: 400px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.contact-icon {
    height: 5rem;
    font-size: 3rem;
    color: $brand-primary;
}